<div class="hero-img">
  <img src="./../../../assets/images/jasprit.jpg" alt="jasprit" />

  <div class="content">
      <p>Hey there!</p>

      <p>I am Jasprit Kaur, a multidisciplined techno-functional developer, researcher, and analyst. I am constantly looking for creative ideas or solutions and then I add them to my to-do list and put them into action using either code or art. </p>

      <p>I was born and raised in Mehsana, Gujarat. However, I belong to Punjab. This is fantastic since it introduces me to a new culture and makes me adaptable to a new language. I am fluent in English, Hindi, Punjabi, and Gujrati. </p>

      <p>I spend most of my time reading Gen-Z rom-com and daydreaming about them. My library is stocked with fiction and self-help literature. This is my world because I'm an introvert. On the weekends or late nights, I create art, while during the workweek, I gather ideas. Please send me an email at jaspritkaur2920@gmail.com if you are interested in talking with me about arts. </p>

      <p>My Portfolio was last updated on 1st Oct 2022.</p>
  </div>
</div>
