<div class="hero-img">
  <img src="./../../../assets/images/jasprit.jpg" alt="jasprit" />

  <div class="content">
    <p>✨ Hey there!</p>

    <p>
      I'm Jasprit — a UX and Product Designer with a systems-thinking mindset
      and a passion for crafting intuitive, accessible, and delightful digital
      experiences. Currently pursuing my Master’s in Computer Science with a
      focus on Human-Computer Interaction at Georgia Tech, I bring together a
      unique blend of design strategy, user research, and technical
      understanding.
    </p>

    <p>
      My work bridges the gap between user needs and technical constraints.
      Whether it's redesigning healthcare portals for better accessibility, or
      building language-learning tools for travelers, I thrive at the
      intersection of empathy, design, and innovation. I love turning complex
      problems into clean, human-centered solutions that make a real difference.
    </p>

    <p>
      When I’m not designing, I’m experimenting with DIY projects, nurturing my
      indoor jungle of houseplants, or exploring communities where technology
      meets social good.
    </p>

    <p>Let’s connect and build something meaningful!</p>
  </div>
</div>
