<section class="content">
  <h2>webinars conducted during 3rd year of engineering (2020)</h2>

  <div class="cards">
    <div class="card">
      <a
        href="https://www.linkedin.com/feed/update/urn:li:activity:6716654320152010752/"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/codechef.png" alt="codechef" />
      </a>
      <div class="card-title">
        <a
          href="https://www.linkedin.com/feed/update/urn:li:activity:6716654320152010752/"
          target="_blank"
        >
          <h3>Codechef</h3>
        </a>
      </div>
      <div class="card-description">
        <p>Effective Programming: To comprehend the complexity of algorithms</p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://www.linkedin.com/feed/update/urn:li:activity:6716404963175604224/"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/adc.png" alt="adc" />
      </a>
      <div class="card-title">
        <a
          href="https://www.linkedin.com/feed/update/urn:li:activity:6716404963175604224/"
          target="_blank"
        >
          <h3>Ahemedabad developers club</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Delivered expert talk on Data Science on behalf of Computer Society of
          India (CSI)
        </p>
      </div>
    </div>
  </div>

  <div class="content-description">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="40px">
      <path
        d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
      />
    </svg>
    <p>
      <strong>My journey with Webinars > </strong>Public speaking (my leg still
      shivers when I recall my experience, haha), makes me nervous. As a part of
      the Google developers group, I was asked to conduct a webinar on Data
      Science (which fascinates me), I said YES! and from here things got really
      adventurous, from creating presentations to practicing speaking
      confidently. One thing I observed from attending other live webinars is:
      "It is important to keep the audience engaged with you". This became my
      mantra and that's why I keep my demos ready with every webinar (with proof
      :D). After all the thrills I got great feedback from my audience and
      faculty which is all I needed to hear.
    </p>
  </div>
</section>
