<section class="content">
  <h2>Angular applications created during Internship (DRC Systems, 2022)</h2>
  <div class="cards">
    <div class="card">
      <a
        href="https://countries-api-rose.vercel.app/"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/earth.png" alt="earth" />
      </a>
      <div class="card-title">
        <a href="https://countries-api-rose.vercel.app/" target="_blank">
          <h3>Where in the World?</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Sending and Reading Query params from URL, Filter by Region and
          Country, Pagination, Seperate details page, Theme switcher
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://angular-filter-task.vercel.app/"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/filter.png" alt="filter" />
      </a>
      <div class="card-title">
        <a href="https://angular-filter-task.vercel.app/" target="_blank">
          <h3>MultiFilter Task</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Parent-Child communication, Applied multi-filter concept, changing
          data on change of input, Lazy Loading
        </p>
      </div>
    </div>
    <div class="card">
      <a href="#" class="card-img">
        <img src="./assets/images/list.png" alt="list" />
      </a>
      <div class="card-title">
        <h3>Todo Application</h3>
      </div>
      <div class="card-description">
        <p>
          CRUD application, UNDO operation if user has accidently deleted the
          todo, Local Storage
        </p>
      </div>
    </div>
  </div>
</section>
