<div class="arts">
  <div class="art art1">
    <div class="art-content">
      <div class="art-title"><h3>Magnetic Clay.</h3></div>
      <div class="art-desciption">
        <p>
          Who doesn't loves minimal things? I guess they attracts people due to
          more focus on the actual design, else is distraction! These small tiny
          piece of fridge magnets stands for minimalism and simplicity.
        </p>
      </div>
    </div>
    <div class="art-img">
      <img
        src="./../../../assets/images/arts/magnets_collage.png"
        alt="magnets_collage"
      />
    </div>
  </div>

  <div class="art art1">
    <div class="art-content">
      <div class="art-title"><h3>Auspicious Diya</h3></div>
      <div class="art-desciption">
        <p>
          The diya in the left was created in a competition at office, which I
          didn't won. However, after reaching home I got an awesome idea to
          recreate it with a vibrant color, which resulted one of the best
          recreations.
        </p>
      </div>
    </div>
    <div class="art-img">
      <img src="./../../../assets/images/arts/diya.jpeg" alt="diya" />
    </div>
  </div>

  <div class="art art1">
    <div class="art-content">
      <div class="art-title"><h3>Backstich Embroidery</h3></div>
      <div class="art-desciption">
        <p>
          Do you think I have lack of patience and clarity? Nahhh, by applying a
          recursive method of concurrent backstiches with threads and needle
          which eventually evolved into my partner, I always dreamed of!
        </p>
      </div>
    </div>
    <div class="art-img">
      <img
        src="./../../../assets/images/arts/couple_embroidery.jpeg"
        alt="couple_embroidery"
      />
    </div>
  </div>

  <div class="art art3">
    <div class="art-content">
      <div class="art-title"><h3>Lippan Art of Gujarat.</h3></div>
      <div class="art-desciption">
        <p>
          Lippan art is one of the traditional arts of Gujarat, made with finest
          clay and mirrors. Look at the bright colors, catching our eyes, those
          mirrors shinning in the direction of sun; giving us a way to blink and
          smile while forces us to touch them with all open hearts.
        </p>
      </div>
    </div>
    <div class="art-img">
      <img src="./../../../assets/images/arts/lippan1.jpg" alt="lippan1" />
      <img src="./../../../assets/images/arts/lippan2.jpg" alt="lippan2" />
    </div>
  </div>

  <div class="art art1">
    <div class="art-content">
      <div class="art-title"><h3>Sunflower Wall Hanging.</h3></div>
      <div class="art-desciption">
        <p>
          This whole art is created under the sunlight which is sneaking through
          my window in the peacefull summer early mornings; that reminded me of
          sunflower who's love grows as the sun.
        </p>
      </div>
    </div>
    <div class="art-img">
      <img src="./../../../assets/images/arts/sunflower.jpg" alt="art1" />
    </div>
  </div>
</div>
