<div class="arts">

  <div class="art art3">
    <div class="art-content">
        <div class="art-title"><h3>Lippan Art of Gujarat.</h3></div>
        <div class="art-desciption">
          <p>
            Lippan art is one of the traditional arts of Gujarat, made with finest clay and mirrors. Look at the bright colors, catching our eyes, those mirrors shinning in the direction of sun; giving us a way to blink and smile while forces us to touch them with all open hearts.
          </p>
        </div>
      </div>
      <div class="art-img">
     <img src="./../../../assets/images/arts/lippan1.jpg" alt="lippan1" />
        <img src="./../../../assets/images/arts/lippan2.jpg" alt="lippan2" /> 
      </div>
  </div>
  
  <div class="art art2">
    <div class="art-content">
        <div class="art-title"><h3>Magnetic Clay.</h3></div>
        <div class="art-desciption">
          <p>
            These small tiny piece of art stands for minimalism and simplicity.
          </p>
        </div>
      </div>
      <div class="art-img">
     <img src="./../../../assets/images/arts/magnet1.jpg" alt="magnet1" />
        <img src="./../../../assets/images/arts/magnet2.jpg" alt="magnet2" /> 
        <img src="./../../../assets/images/arts/magnet3.jpg" alt="magnet3" />
      </div>
  </div>


  <div class="art art1">
    <div class="art-content">
      <div class="art-title"><h3>Sunflower Wall Hanging.</h3></div>
      <div class="art-desciption">
        <p>
          This whole art is created under the sunlight which is sneaking
          through my window in the peacefull summer early mornings; that reminded me of sunflower who's love grows as the sun.
        </p>
      </div>
    </div>
    <div class="art-img">
      <img src="./../../../assets/images/arts/sunflower.jpg" alt="art1" />

    </div>
  </div>

  
</div>
