<section class="content">
  <h2>Freelance projects during final year of bachelors (March - Nov 2021)</h2>

  <div class="cards">
    <div class="card">
      <a href="https://www.amrithotel.in/" target="_blank" class="card-img">
        <img src="./assets/images/amrit.png" alt="amrit" />
      </a>
      <div class="card-title">
        <a href="https://www.amrithotel.in/" target="_blank">
          <h3>Amrit Hotel</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Optimized Website, Faster, Advance SEO with integrated Google
          Analytics.
        </p>
      </div>
    </div>
    <div class="card">
      <a href="https://www.janpathhotel.in/" target="_blank" class="card-img">
        <img src="./assets/images/janpath.png" alt="janpath" />
      </a>
      <div class="card-title">
        <a href="https://www.janpathhotel.in/" target="_blank">
          <h3>Hotel Janpath</h3>
        </a>
      </div>
      <div class="card-description">
        <p>Integrated Map and Whatsapp for convienient interactions.</p>
      </div>
    </div>
    <div class="card">
      <a href="https://www.apfoods.one/" target="_blank" class="card-img">
        <img src="./assets/images/alphapurple.png" alt="alphapurple" />
      </a>
      <div class="card-title">
        <a href="https://www.apfoods.one/" target="_blank">
          <h3>Alphapurple Foods</h3>
        </a>
      </div>
      <div class="card-description">
        <p>Added Amimations to make site more interesting.</p>
      </div>
    </div>
  </div>

  <div class="content-description">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="40px">
      <path
        d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
      />
    </svg>
    <p>
      <strong>My journey with Freelancing > </strong>Freelancing is sometimes
      messy when you just started. Coping with the client and time was pretty
      challenging for me. However, I somehow managed to do all the work and got
      serious with my carrer >:O Everytime when I used to revise websites,
      nearly thousands of ideas fly over my head, which made it harder for me to
      stick with a single design. Anyways, In the end, the smile on my client's
      face was the ultimate happiness and satisfaction O:)
    </p>
  </div>
</section>
