<section class="content">
  <h2>B.Tech Major Projects (2021 - 2022)</h2>

  <div class="cards">
    <div class="card">
      <a  class="card-img">
        <img src="./assets/images/resume.png" alt="resume" />
      </a>
      <div class="card-title">
        <a target="_blank">
          <h3>Online Resume Builder</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Create Resume in few minutes with latest template designs and user
          friendly Interface. The user just needs to fill details in the form
          and select suitable template.
        </p>
      </div>
    </div>
    <div class="card">
      <a class="card-img">
        <img src="./assets/images/translation.png" alt="translation" />
      </a>
      <div class="card-title">
        <a target="_blank">
          <h3>Text Translation System</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          From books to papers to sentences, the user can translate anything
          into 13 most widely spoken languages in the world.
        </p>
      </div>
    </div>
  </div>
</section>
