<section class="content">
  <h2>SEO and Digital Marketing Case Studies (2023 - Present)</h2>
  <div class="cards">
    <div class="card">
      <a
        href="https://jaspritk.medium.com/a-swot-based-approach-to-marketing-excellence-7cf6972e23ef"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/swot.png" alt="swot" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/a-swot-based-approach-to-marketing-excellence-7cf6972e23ef"
          target="_blank"
        >
          <h3>A SWOT-based Approach to Marketing Excellence</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          SWOT done in the correct direction can lead to powerful marketing
          campaigns. However, we need to keep an eye on changing algorithms and
          trends, so that flexible business goals-related campaigns can be
          created.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://jaspritk.medium.com/scamper-a-journey-from-existing-to-exciting-product-dae3396de7f"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/justfit.png" alt="justfit" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/scamper-a-journey-from-existing-to-exciting-product-dae3396de7f"
          target="_blank"
        >
          <h3>SCAMPER: A journey from existing to exciting product</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          A creative thinking journey that aids in generating ideas to enhance
          the existing product or service.
        </p>
        <p>
          “Justfit” company, which wants to combine its most popular protein
          source — peanut butter — with something novel and healthy.
        </p>
      </div>
    </div>
    <!-- <div class="card">
      <a href="#" class="card-img">
        <img src="./assets/images/list.png" alt="list" />
      </a>
      <div class="card-title">
        <h3>Todo Application</h3>
      </div>
      <div class="card-description">
        <p>
          CRUD application, UNDO operation if user has accidently deleted the
          todo, Local Storage
        </p>
      </div>
    </div> -->
  </div>
</section>
