<section class="content">
  <h2>SEO and Digital Marketing Case Studies (2023 - Present)</h2>
  <div class="cards">
    <div class="card">
      <a
        href="https://jaspritk.medium.com/how-kaurative-resin-art-skyrocketed-organic-traffic-by-200-in-just-100-days-59cb16ea1cd9"
        target="_blank"
        class="card-img"
      >
        <img src="./../../../assets/images/skyrocket.png" alt="skyrocket" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/how-kaurative-resin-art-skyrocketed-organic-traffic-by-200-in-just-100-days-59cb16ea1cd9"
          target="_blank"
        >
          <h3>
            How Kaurative Resin Art Skyrocketed Organic Traffic by 200% in Just
            100 Days
          </h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          SEO takes a lot of patience and effort, however, the results are
          long-lasting. We need to be more focused on our content and keywords;
          it should develop trust in the customer.
        </p>
      </div>
    </div>

    <div class="card">
      <a
        href="https://jaspritk.medium.com/a-swot-based-approach-to-marketing-excellence-7cf6972e23ef"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/swot.png" alt="swot" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/a-swot-based-approach-to-marketing-excellence-7cf6972e23ef"
          target="_blank"
        >
          <h3>A SWOT-based Approach to Marketing Excellence</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          SWOT done in the correct direction can lead to powerful marketing
          campaigns. However, we need to keep an eye on changing algorithms and
          trends, so that flexible business goals-related campaigns can be
          created.
        </p>
      </div>
    </div>

    <div class="card">
      <a
        href="https://jaspritk.medium.com/scamper-a-journey-from-existing-to-exciting-product-dae3396de7f"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/justfit.png" alt="justfit" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/scamper-a-journey-from-existing-to-exciting-product-dae3396de7f"
          target="_blank"
        >
          <h3>SCAMPER: A journey from existing to exciting product</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          A creative thinking journey that aids in generating ideas to enhance
          the existing product or service.
        </p>
        <p>
          “Justfit” company, which wants to combine its most popular protein
          source — peanut butter — with something novel and healthy.
        </p>
      </div>
    </div>
  </div>
</section>
