<section class="hero">
  <div class="intro">
    <p class="small">Hello there, I'm</p>
    <p class="name">Jasprit Kaur</p>
  </div>
  <div class="title">
    <!-- <h2>Market Researcher</h2> -->
    <h2>SEO and Digital Marketing Specialist</h2>
    <h2>Full Stack Developer</h2>
    <h2>Designer</h2>
    <h2>Data Analyst</h2>
  </div>

  <div class="summary">
    <p>
      I document my ideas, projects and experiences in this space. Thanks for
      dropping by :)
    </p>
  </div>

  <!-- <app-badges></app-badges> -->
  <app-seo></app-seo>
  <app-npm-packages></app-npm-packages>
  <app-mean-stack></app-mean-stack>
  <app-internship></app-internship>
  <app-freelancing></app-freelancing>
  <app-final-year></app-final-year>
  <app-webinars></app-webinars>
  <app-case-studies></app-case-studies>
  <app-data-analysis></app-data-analysis>
</section>
