main {
    display: flex;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    width: 15%;
    position: fixed;
    height: 100vh;
    justify-content: space-between;
}

.sidebar .workspace {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .workspace a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.sidebar .workspace a.active {
    color: var(--primary);
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
    width: 50%;
}

.sidebar .workspace a:hover {
    color: var(--primary);
    font-weight: 600;
}

.sidebar .connect {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar .connect svg {
    /* width: 20px; */
    fill: rgb(77, 77, 77);
}

.sidebar .connect svg:hover {
    fill: var(--primary);
}

/* TOPBAR */

.topbar {
    padding: 10px 20px;
    position: sticky;
    background-color: white;
    top: 0;
    box-shadow: 0 0 10px rgb(110 104 104 / 50%);
}

.topbar .menu {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topbar .workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.topbar .workspace a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.topbar .workspace a.active {
    color: rgb(77, 77, 77);
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
}

.topbar .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.topbar .connect svg {
    /* width: 20px; */
    fill: rgb(77, 77, 77);
}

/* .topbar .connect .npm {
    width: 40px;
} */

.topbar .connect svg:hover {
    fill: var(--primary);
}

/* CONTAINER */

.container {
    padding: 50px 30px 0 30px;
    width: 85%;
    margin-left: 15%;
}

@media only screen and (min-width: 800px) {
    .topbar {
        display: none;
    }
}
@media only screen and (max-width: 800px) {
    main {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .topbar {
        display: block;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        position: fixed;
        right: -150px;
        top:77px;
        height:calc(100% - 77px);
        width: 150px;
        background: var(--secondary);
        transition: 0.4s ease-in-out;
    }

    .menu_icon{
        display: inline-block;
        top: 20px;
    }
      
      
    .menu_icon span {
        width: 32px;
        height: 3px;
        background: var(--primary);
        display: block;
        transition: 0.2s ease-in-out;
    }

    .menu_icon span:nth-child(2) {
        margin: 4px 0;
    }

    .menu_iconClass span:nth-child(2) {
      display: none;
    }
      
    .menu_iconClass span:nth-child(1) {
        transform: rotate(40deg);
    }
      
    .menu_iconClass span:nth-child(3) {
        transform: rotate(-40deg);
        margin-top: -3px;
    }
      
    .menuClasse{
      right: 0;
      transition: 0.4s ease-in-out;
    }

    .container {
        padding: 50px 20px 0;
        width: 100%;
        margin-left: 0;
    }
}