<section class="content">
  <h2>Skills</h2>

  <div class="skills-container">
    <span class="skill">User Experience</span>
    <span class="skill">User Interface</span>
    <span class="skill">Surveys</span>
    <span class="skill">Usability Testing</span>
    <span class="skill">A/B Testing</span>
    <span class="skill">Heuristic Evaluation</span>
    <span class="skill">Wireframing</span>
    <span class="skill">Prototyping</span>
    <span class="skill">Persona Creation</span>
    <span class="skill">Journey Mapping</span>
    <span class="skill">Competitive Analysis</span>
    <span class="skill">User Centered Design</span>
    <span class="skill">Data Analysis</span>
    <span class="skill">Figma</span>
    <span class="skill">HTML</span>
    <span class="skill">CSS</span>
    <span class="skill">Javascript</span>
    <span class="skill">Typescript</span>
  </div>
</section>
