<section class="content">
  <h2>Design case studies</h2>

  <div class="cards">
    <div class="card">
      <a
        href="https://jaspritk.medium.com/heuristic-evaluation-of-amazons-website-b620c0f455c6"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/amazon.png" alt="amazon" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/heuristic-evaluation-of-amazons-website-b620c0f455c6"
          target="_blank"
        >
          <h3>Heuristic Evaluation of Amazon's Website</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          A heuristic review of one of the world's leading software businesses
          and online marketplaces' shopping web application.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://jaspritk.medium.com/splitsbill-bill-splitting-mobile-application-3f969ca67357"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/spitsbill.png" alt="spitsbill" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/splitsbill-bill-splitting-mobile-application-3f969ca67357"
          target="_blank"
        >
          <h3>SplitsBill - Bill Splitting Mobile Application</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Friendship and money are both important aspects of our existence, thus
          overlap is nearly unavoidable. Let's simplify this task by creating a
          mobile app.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://jaspritk.medium.com/snack-ordering-mobile-application-5fe650594475"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/snacks.png" alt="snacks" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/snack-ordering-mobile-application-5fe650594475"
          target="_blank"
        >
          <h3>Snack Ordering Mobile Application</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          Order while watching a movie at the theatre and pre-order refreshments
          in a matter of minutes. In the meanwhile, your food will be waiting
          for you at your seat.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://jaspritk.medium.com/redesigning-my-college-website-677c4c44277f"
        class="card-img"
        target="_blank"
      >
        <img src="./assets/images/college.png" alt="college" />
      </a>
      <div class="card-title">
        <a
          href="https://jaspritk.medium.com/redesigning-my-college-website-677c4c44277f"
          target="_blank"
        >
          <h3>Redesigning my College Website</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          My college website's information architecture and user interface have
          been improved. It emphasises the convenience of usage.
        </p>
      </div>
    </div>
  </div>
  <div class="content-description">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="40px">
      <path
        d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
      />
    </svg>
    <p>
      <strong>My journey with UX Design > </strong> Visual design concepts seem
      simple but are actually rather difficult to implement. It requires a lot
      of creativity and research to create a user interface. In order to
      construct UI, I developed empathy and observed the world through the eyes
      of a novice; this made it simple to catch up on experiences. Many
      excellent principles contributed to a greater understanding of the user
      and increased clarity on the topic. I benefited greatly from numerous
      excellent pieces on Medium, as well as from individual blogs, professional
      courses, and Coursera. In general, it was a brain-blasing experience :D
    </p>
  </div>
</section>
