<section class="content">
  <h2>Data Analysis, 2nd Year (2019 - 2020)</h2>

  <div class="cards">
    <div class="card">
      <a
        href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/Amazonstinyprofitsexplained-2020W25/Dashboard"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/fcf.png" alt="fcf" />
      </a>
      <div class="card-title">
        <a
          href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/Amazonstinyprofitsexplained-2020W25/Dashboard"
          target="_blank"
        >
          <h3>AMAZON'S FREE CASH FLOW</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          The ultimate financial measure - Free Cash Flow is an important matrix
          of amazon.
        </p>
        <p>
          Free cash flow to amazon is more than the combined revenue of Snap,
          Twitter and Pinterest.
        </p>
        <p>
          Amazon keeps Profit and FCF artificially low by investing money right
          back to its business in the form of capital expenses.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/Economyempowerment2020W26/TIS2020vs1971"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/economic.png" alt="economic" />
      </a>
      <div class="card-title">
        <a
          href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/Economyempowerment2020W26/TIS2020vs1971"
          target="_blank"
        >
          <h3>ECONOMIC EMPOWERMENT OF WOMEN</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          According to the WBL report 2020, there is a decrease in the legal
          differences between men's and women's access to economic opportunities
          in 190 countries.
        </p>
        <p>
          8 - economies score 100, meaning women are on equal legal standing
          with men.
        </p>
        <p>
          The economics which belongs to a high-income group makes higher than
          index scores of 90.
        </p>
        <p>
          10 economies including UAE, Nepal improved the most from 1971 to 2020.
        </p>
      </div>
    </div>
    <div class="card">
      <a
        href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/2020W27Mentalhealthdisorder/dashboard"
        target="_blank"
        class="card-img"
      >
        <img src="./assets/images/mental.png" alt="mental" />
      </a>
      <div class="card-title">
        <a
          href="https://public.tableau.com/app/profile/jasprit.kaur.saini/viz/2020W27Mentalhealthdisorder/dashboard"
          target="_blank"
        >
          <h3>COMMON MENTAL HEALTH DISORDER</h3>
        </a>
      </div>
      <div class="card-description">
        <p>
          According to NHS Digital, Adult Psychiatric Morbidity survey 2014,
          Women are much more likely to have a common mental illness.
        </p>
        <p>1/10 children aged 5-16 have a diagnosable condition.</p>
        <p>
          1/2 and 3/4 of all mental health problems are established by the age
          of 14 and 24.
        </p>
      </div>
    </div>
  </div>
  <div class="content-description">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="40px">
      <path
        d="M0 216C0 149.7 53.7 96 120 96h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V320 288 216zm256 0c0-66.3 53.7-120 120-120h8c17.7 0 32 14.3 32 32s-14.3 32-32 32h-8c-30.9 0-56 25.1-56 56v8h64c35.3 0 64 28.7 64 64v64c0 35.3-28.7 64-64 64H320c-35.3 0-64-28.7-64-64V320 288 216z"
      />
    </svg>
    <p>
      <span class="experience">My journey with Data Analysis > </span>Data has always
      fascinated my attention because the answers are hidden from the world. In
      order to uncover these patterns, I learnt Python and Advanced Tableau
      (from official tableau app). It took me days to really grasp the power of
      communication, which is crucial in both data and real-world situations.
      Data World is the source of all the datasets. After creating a few
      dashboards, I had a funny feeling of being a detective since I had finally
      begun to make connections. 8|.
    </p>
  </div>
</section>
