<section class="content">
  <h2>Work Experience</h2>
  <div class="experience-card">
    <div class="experience-card-title">
      <h3>DRC Systems</h3>
      <div>Jan 2022 to Mar 2023</div>
    </div>
    <div class="experience-card-description">
      <ul>
        <li>
          Created, tested, and published a reusable Angular component library to
          the public NPM registry, enabling rapid UI development and reducing
          front-end build time by 35%.
        </li>

        <li>
          Utilized Postman for comprehensive API testing, ensuring 99.9% uptime
          and reliability across all endpoints. Early detection and resolution
          of bugs led to a 30% reduction in post-release issues.
        </li>
        <li>
          Implemented robust input validation at both the front end and back
          end, eliminating 95% of user-generated errors and significantly
          enhancing application security, also led to the development of
          high-performance SPAs using the Angular framework, resulting in faster
          load times and improved user engagement metrics average session
          duration increased by 18%.
        </li>
      </ul>
    </div>
  </div>

  <div class="experience-card">
    <div class="experience-card-title">
      <h3>Freelance Web Designer</h3>
      <div>Apr 2021 to Dec 2021</div>
    </div>
    <div class="experience-card-description">
      <ul>
        <li>
          Achieved a 19% increase in online orders for Alphapurple Foods by
          launching a streamlined ordering system, while introducing a new
          online menu feature that reached a 55% adoption rate among returning
          customers within four weeks.
        </li>

        <li>
          Conducted user research for Amrit Hotel and implemented iterative
          design improvements based on feedback. Post-launch surveys showed a
          22% increase in customer satisfaction scores and a 30% uptick in
          positive online reviews also implemented SEO best practices and
          mobile-responsive designs, leading to a 40% increase in organic local
          traffic.
        </li>
        <li>
          Revamped Hotel Janpath’s booking interface, resulting in a 27% rise in
          direct online reservations over three months and a 15% reduction in
          customer support queries related to website navigation and hotel venue
          information.
        </li>
      </ul>
    </div>
  </div>
</section>
